@using Parcoist.Entity.Concrete
@model List<Slider>
<div class="caption">
	<div class="slider">
		<div class="callbacks_container">
            <ul class="rslides" id="slider">
                @foreach (var item in Model)
                {
                    <li class="slider-item" >
                        <div class="slide-content" style="background-image: url('@item.SliderImage'); background-repeat:no-repeat; min-height:500px">
                            <h1>@item.SliderTitle</h1>
                            <p>@item.SliderDescription</p>
                            <a class="morebtn" href="@item.SliderLink">@item.SliderLinkTitle</a>
                        </div>
                    </li>
                }
            </ul>

		</div>
	</div>
</div>

<div class="dwn">
	<a class="scroll" href="#cate"><img style="max-width:75px" src="~/source/burun.png" alt="" /></a>
</div>
	</div>

    <style>
    .slide-content {
        display: flex;
        flex-direction: column; /* İçeriği dikey sıralar */
        justify-content: center; /* Dikey ortalama */
        align-items: center; /* Yatay ortalama */

        height: 500px; /* Slider yüksekliği (ihtiyacına göre ayarla) */
        background-size: cover; /* Arka plan resmini kaplat */
        background-position: center;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        margin:20px
    }

    </style>