@using Parcoist.Entity.Concrete
@model List<Slider>
<div class="caption">
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                @foreach (var item in Model)
                {
                    <li class="slider-item">
                        <div class="slide-content" style="background-image: url('@item.SliderImage'); background-repeat:no-repeat; min-height:500px">
                            <h1>@item.SliderTitle</h1>
                            <p>@item.SliderDescription</p>
                            <a class="morebtn" href="@item.SliderLink">@item.SliderLinkTitle</a>
                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>

<div class="dwn">
    <a class="scroll" href="#cate"><img style="max-width:75px" src="~/source/burun.png" alt="" /></a>
</div>
    </div>

<style>
    /* Masaüstü stili */
    .slide-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px; /* Slider yüksekliği */
        background-size: cover;
        background-position: center;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        margin: 20px;
    }

    /* Mobil uyumlu stil */
    @@media only screen and (max-width: 470px) {
        .slide-content

    {
            display: table-cell;
            height: 200px; 
            padding-top:30px;
    }

    .slide-content h1 {
        font-size: 18px; /* Başlık boyutu küçüldü */
    }

    .slide-content p {
        font-size: 14px; /* Açıklama boyutu küçüldü */
    }

    .slide-content .morebtn {
        padding: 6px 12px; /* Buton boyutu küçüldü */
        font-size: 12px;
    }

    .dwn img {
        max-width: 50px; /* Scroll buton boyutu küçüldü */
    }

    }
</style>
